*{
    background-color: black;
}


@keyframes slideEffect {
    0% {
        transform: translateX(0);
    }

    100% {
        transform: translateX(-1320px);
    }
}

@keyframes slideEffect2 {
    0% {
        transform: translateX(720px);
    }

    100% {
        transform: translateX(-600px);
    }
}
.about {
    height: 80vh;
} 
.slide {
    width: 50vw;
    margin-left: 25vw;
    overflow: hidden;
    display: flex;
    justify-content: flex-start;
    gap: 20px;
    border-left: 2px solid #fff;
    border-right: 2px solid #fff;
    padding: 5px 0 5px 0;
}
.slideContent {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    list-style: none;
    width: 580px;
    animation: slideEffect 20s linear infinite;
}
.slideContent img {
    width: 100px;
    height: 100px;
}
.slideContent2 {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    list-style: none;
    width: 580px;
    animation: slideEffect2 20s linear infinite;
}
.slideContent2 img {
    width: 100px;
    height: 100px;
}
  